#contact .mail-form {
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  border-radius: 7px;
}
#contact label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 10px;
}
#contact #mail-adress, #contact #mail-content, #contact .mail-submit {
  font-size: 1rem;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  outline: none;
}
#contact .input-wrap {
  margin-bottom: 20px;
}
#contact #mail-adress, #contact #mail-content {
  background-color: #f5f8fd;
  border: 1px solid #c1cce6;
}
#contact .mail-submit {
  color: white;
  cursor: pointer;
  background-color: rgb(107, 137, 228);
}
#contact .error input, #contact .error textarea {
  border: 1px solid red !important;
}
#contact .error .error-message {
  color: red;
}