/* init css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}
ul, li {
  list-style: none;
}
a{
  display: block;
}
a:link, a:visited{
  text-decoration: none;
  color: inherit;
}
button {
  background-color: none;
  box-shadow: none;
  outline: none;
}

/* custom */
body {
  padding-left: 20%;
}