.posting-list {
  display: grid;
  gap: 20px;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 1px 10px #00000070;
    background-color: #353744;
    color: #fff;
    opacity: 0.8;
    transition: transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
      opacity: 1;
    }
  }

  &__top {
    display: flex;
    // align-items: center;
  }

  &__marking {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #a0d4e1;

    &.js,
    &.javascript {
      background-color: #f0db4f;
    }
    &.css {
      background-color: #2965f1;
    }
    &.html {
      background-color: #f06529;
    }
  }

  &__title {
    font-size: 1.5rem;
    margin-left: 5px;
    flex: 1;
  }

  &__date {
    margin-top: 20px;
  }

  &__description {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #acacac;
  }

  &__tag-wrapper {
    margin-top: 20px;
  }

  &__tag {
    margin-left: 5px;
    padding: 2px 5px;
    border-radius: 50px;
    border: 1px solid #fff;
    transition: color 0.2s ease-in-out,
      background-color 0.2s ease-in-out;

    &:first-of-type {
      margin-left: 0;
    }
    &:hover {
      background-color: #fff;
      color: #222;
    }
  }

  @media screen and (max-width: 425px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}