.side-menu {
  background-color: #353744;
  transition: width 0.3s ease-in-out;

  &__profile {
    padding-bottom: 40px;
    border-bottom: 2px solid #7f808a;
  }

  &__img {
    width: 70px;
    border-radius: 10px;
  }

  &__name {
    color: #fff;
    margin-top: 20px;
  }

  &__email {
    color: #6a6c78;
    font-size: 0.875rem;
    margin-top: 10px;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: #fff;
    }
  }

  &__tag {
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 0.875rem;
    padding: 3px 5px;
    border: 1px solid #9a9da8;
    color: #9a9da8;
    border-radius: 3px;
    transition: color 0.2s ease-in-out,
      border 0.2s ease-in-out;

    &:hover {
      color: #fff;
      border-color: #fff;
    }
  }

  &__menu {
    margin-top: 40px;
  }

  &__link {
    display: block;
    color: #6a6c78;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 5px 0;
    transition: color 0.2s ease-in-out,
      padding 0.2s ease-in-out;

    &:hover {
      color: #fff;
      padding-left: 10px;
    }
    &.active {
      color: #edc9a5;
      padding: 15px 0;
      font-size: 1.5rem;
    }
    &:first-of-type.active {
      padding-top: 0;
    }
  }

  &__production-period {
    position: absolute;
    bottom: 30px;
    font-size: 0.75rem;
    color: #6a6c78;
  }

  @media screen and (max-width: 425px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 200px;
    padding: 50px 30px;
    box-shadow: 2px 1px 5px #00000010;
    position: fixed;
    top: 0;
    bottom: 0;
  }
  @media screen and (min-width: 1024px) {
    width: 250px;
    padding: 50px 30px;
    box-shadow: 2px 1px 5px #00000010;
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
