<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DuDu's blog</title>
  <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
  <link rel="stylesheet" href="./bundle/app.css">
  <link rel="icon" href="./img/favicon.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./img/favicon.png">
</head>
<body>
  <section id="app">
    <header class="w20p h100p pt30" id="header">
        <h1 class="a11y-hidden">Lee Beom-du Blog Header</h1>
        <article id="profile">
          <img src="./img/profile.jpg" alt="profile img"  class="profile-img">
          <ul class="profile-list">
            <li>Lee Beom-du</li>
            <li>82+ 010-5525-5417</li>
            <li>a01055255417@gmail.com</li>
          </ul>
        </article>
        <nav class="mt30">
          <h2 class="a11y-hidden">Lee Beom-du Blog navigation</h2>
          <ul>
            <li><a href="#posting" class="ptb20 nav-list" :class="page_list.posting ? 'active' : ''" @click.stop="changeTab('posting')">Posting</a></li>
            <li><a href="#contact" class="ptb20 nav-list" :class="page_list.contact ? 'active' : ''" @click.stop="changeTab('contact')">Contact</a></li>
            <li><a href="https://github.com/dlqjaen" target="_blank" class="ptb20 nav-list">Github</a></li>
          </ul>
        </nav>
      </header>
      <section class="p5p" id="contents">
        <h2 class="a11y-hidden">contents section</h2>
        <article id="posting" v-show="page_list.posting">
          <h3 class="a11y-hidden">posting test</h3>
          <% posting_feed.forEach((posting) => { %>
            <button type="button" class="posting-feed">
              <img src="<%- posting.img %>" alt="<%- posting.title %> 이미지" width="100%" height="auto">
              <h4 class="posting-title"><%- posting.title %></h4>
              <p class="line-clamp3 posting-contents"><%- posting.contents %></p>
              <p class="posting-date"><%- posting.date %></p>
            </button>
          <% }) %>
        </article>
        <article id="contact" v-show=page_list.contact>
          <h3 class="a11y-hidden">contact test</h3>
          <form class="mail-form" onclick="return false;">
            <div>
              <label for="mail-adress">mail</label>
              <input type="email" data-target="mail" v-model="contact.mail" id="mail-adress" placeholder="메일 주소를 입력해주세요." @input="setData"/>
            </div>
            <div>
              <label for="mail-content">content</label>
              <textarea id="mail-content" data-target="content" v-model="contact.content" cols="30" rows="10" placeholder="메일 내용을 입력해주세요." @input="setData"></textarea>
            </div>
            <button type="submit" class="mail-submit" @click.stop="sendEmail">send mail</button>
          </form>
        </article>
      </section>
  </section>
  <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
  <script type="text/javascript">
    (function(){
      window.emailjs.init("user_KgbZm8xlGi0xEEhZXJyQW");
      window.emailjs = emailjs;
    })();
  </script>
  <script src="./bundle/app.js"></script>
</body>
</html>