<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DuDu's blog</title>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="./bundle/app.css">
  <link rel="icon" href="./img/favicon.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./img/favicon.png">
</head>
<body>
  <section id="app">
    <header class="w20p h100p pt30" id="header">
        <h1 class="a11y-hidden">Lee Beom-du Blog Header</h1>
        <article id="profile">
          <img src="./img/profile.jpg" alt="profile img"  class="profile-img">
          <ul class="profile-list">
            <li>Lee Beom-du</li>
            <li>82+ 010-5525-5417</li>
            <li>a01055255417@gmail.com</li>
          </ul>
        </article>
        <nav class="mt30">
          <h2 class="a11y-hidden">Lee Beom-du Blog navigation</h2>
          <ul>
            <li><a href="#posting" class="ptb20 nav-list" :class="page_list.posting ? 'active' : ''" @click.stop="changeTab('posting')">Posting</a></li>
            <li><a href="#contact" class="ptb20 nav-list" :class="page_list.contact ? 'active' : ''" @click.stop="changeTab('contact')">Contact</a></li>
            <li><a href="https://github.com/dlqjaen" target="_blank" class="ptb20 nav-list">Github</a></li>
          </ul>
        </nav>
      </header>
      <section class="p5p" id="contents">
        <h2 class="a11y-hidden">contents section</h2>
        <article id="posting" v-show="page_list.posting && !page_list.posting_content">
          <h3 class="a11y-hidden">posting test</h3>
          <% posting_feed.forEach((posting) => { %>
            <a href="#posting#<%- posting.key %>" type="button" class="posting-feed" @click="enterPosting('<%- posting.key %>')">
              <img src="<%- posting.img %>" alt="<%- posting.title %> 이미지" width="100%" height="auto">
              <h4 class="posting-title"><%- posting.title %></h4>
              <p class="line-clamp3 posting-contents"><%- posting.contents %></p>
              <p class="posting-date"><%- posting.date %></p>
            </a>
          <% }) %>
        </article>
        <article id="posting_content" v-show="page_list.posting_content" v-html="posting_content"></article>
        <article id="contact" v-show="page_list.contact" v-cloak>
          <h3 class="a11y-hidden">contact test</h3>
          <form class="mail-form" method="POST" action="https://formspree.io/a01055255417@gmail.com">
            <div class="input-wrap" :class="{error: contact.email_check}">
              <label for="mail-adress">mail</label>
              <input type="email" name="email" data-target="mail" v-model="contact.mail" required id="mail-adress" placeholder="메일 주소를 입력해주세요." @input="setData"/>
              <span v-show="contact.email_check" class="error-message">형식에 맞는 메일 주소를 입력해 주세요.</span>
            </div>
            <div class="input-wrap" :class="{error: contact.content_check}">
              <label for="mail-content">content</label>
              <textarea id="mail-content" name="message" data-target="content" required v-model="contact.content" cols="30" rows="10" placeholder="메일 내용을 입력해주세요." @input="setData"></textarea>
              <span v-show="contact.content_check" class="error-message">보내시려는 내용을 입력해 주세요.</span>
            </div>
            <button type="submit" class="mail-submit" @click="sendEmail">send mail</button>
          </form>
        </article>
      </section>
  </section>
  <script src="https://smtpjs.com/v2/smtp.js"></script>
  <script type="text/javascript" charset="UTF-8" src="./bundle/app.js"></script>
</body>
</html>